IMAGE=
AI_PROVIDER=sumopod
AI_MODEL=
SUMOPOD_API_KEY=
SUMOPOD_RESPONSES_URL=
GOOGLE_API_KEY=
OPENAI_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_USER_ID=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_JSON_BASE64=
